.component {
    padding: 8rem 11rem;
}

.banner {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.banner__text {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0.92) 59%, rgba(255,255,255,0.5) 84%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0.92) 59%, rgba(255,255,255,0.5) 84%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0.92) 59%, rgba(255,255,255,0.5) 84%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    height: 70vh;

    width: 60%;
    position: absolute;
}


.banner__img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.aboutme__subtitle, .projects__subtitle, .blog__subtitle{
    color: green;
}

.aboutme, .blog {
    background-color: white;
}

.projects {
    background-color: #eef1ef;
}

.form__star--required {
    color: #ed656c;
}

.footer {
    background-color: #080a0b;
    color: white;
}

